@font-face {
  font-family: Metropolis;
  font-display: swap;
  src: url("./Metropolis/Metropolis-Regular.otf") format("opentype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: Metropolis;
  font-weight: 500;
  font-display: swap;
  src: url("./Metropolis/Metropolis-Medium.otf") format("opentype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: Metropolis;
  font-weight: 700;
  font-display: swap;
  src: url("./Metropolis/Metropolis-Bold.otf") format("opentype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: NotoSansKR;
  font-display: swap;
  src: url("./NotoSansKR/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: NotoSansKR;
  font-weight: 500;
  font-display: swap;
  src: url("./NotoSansKR/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
  font-family: NotoSansKR;
  font-weight: 700;
  font-display: swap;
  src: url("./NotoSansKR/NotoSansKR-Bold.otf") format("opentype");
}
