@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

html,
body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  background-color: #e5e5e5;

  overflow: overlay;
}

body::-webkit-scrollbar {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9aa0a7;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
